  .navbar .navbar-nav .nav-item a:hover {
  color: #33d6ff;}
  .navbar .navbar-nav .nav-item.active {
    background-color: rgba(0, 204, 255, 0.3);}
  .navbar .navbar-brand {
    color: #fff;}
  .navbar .navbar-nav .nav-item a {
    color: #fff;}
