/* YOUR CUSTOM STYLES */
.list-group-item.active {
    background-color: #2bbbad;
    border-color:#fff
}

.list-group-item:not(.active) {
    color:#fff;
}

.list-group-item:not(.active):hover {
    color:#000;
}